
.container{
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
}

.logo{
  max-width: 227px;
}

.title{
  color: #fff;
  text-align: center;
  margin: 24px 0;
}

.form{
  color: #fff;
  font-size: 20px;
}

.input{
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 4px;
  padding: 0 14px;
  margin-bottom: 16px;
  outline: none;
}

.button{
  width: 100%;
  height: 48px;
  background-color: #119cea;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.result{
  background-color: #fff;
  width: 100%;
  max-width: 420px;
  padding: 20px 28px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 24px 0;
}

.result:hover{
  transform: scale(1.1);
  transition: transform 0.8s;
}

.result-title{
  font-weight: bold;
  font-size: 24px;
  color: #000;
  margin-bottom: 16px;
}

.result span{
  color: #000;
  margin-bottom: 8px;
}

